.wave {
  position: relative;
}

.wave span {
  display: inline-block;
  animation: wave-bounce 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave-bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40%,
  100% {
    transform: translateY(0);
  }
}
