.navbar {
  transition: all 0.5s ease-in-out;
  position: sticky;
}

.navbar-unscrolled {
  color: #1e1e28;
  transition: all 0.2s ease-in-out;
}

.navbar-scrolled {
  font-weight: bold;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.navbar-icon {
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .navbar-unscrolled:hover {
    --tw-text-opacity: 1;
    font-size: x-large;
    color: rgb(246 195 68 / var(--tw-text-opacity));
  }

  .navbar-scrolled:hover {
    --tw-text-opacity: 1;
    font-size: x-large;
    color: rgb(246 195 68 / var(--tw-text-opacity));
  }

  .navbar-icon:hover {
    transform: scale(1.5, 1.5);
    color: rgb(246 195 68);
  }
}
